<!--<div class="section bg-gray py-3" style="width:100vw;min-height:90vh;">
  <div class="container mx-auto flex-row">
    <div class="side-navigator">
      <div routerLink="new" routerLinkActive="side-nav-tab-active"><i class="far fa-edit"></i> New contribution</div>
      <div routerLink="accepted" routerLinkActive="side-nav-tab-active"><i class="fas fa-check-double"></i> Accepted contributions</div>
      <div routerLink="review" routerLinkActive="side-nav-tab-active"><i class="fas fa-eye"></i> Under review</div>
    </div>
    <div style="flex-grow:100;min-height:400px;">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</div>-->
<router-outlet></router-outlet>
