.course-item {
  width: 180px;
  margin: 10px 20px 10px 0px;
  height: 180px;
  padding-bottom: 20px;
  font-size: 10pt;
}

.course-detail {
  padding: 10px;
  border: 1px solid #bdbdbd;
}



@media screen and (min-width: 768px) {
  .course-item {
    width: 180px;
    height: 180px;
    
  }
  .course-detail {
    padding: 10px;
  }
  
}

@media screen and (min-width: 1199px) {
  .course-item {
    width: 210px;
    height: 210px;
    
    
  }
  .course-detail {
    padding: 15px;
    
  }
}

@media screen and (min-width: 1440px) {
  .course-item {
    width: 250px;
    height: 250px;
    font-size: 12pt;
  }

}

  

