<div class="pr-2" style="max-width:95%;">
  <div *ngFor="let c of contributions;index as i" class="mb-2 shadow p-2 flex-row just-between bg-white">
    <div class="flex-column">
      <div>
        <b style="font-size:16pt;">{{c.title}}</b>
      </div>
      <div class="mt-1 d-flex">
        <span *ngIf="c.approved == 0" class="text-orange border-orange rounded p-1">Under review</span>
        <span *ngIf="c.approved == -1" class="text-red border-red rounded p-1">Rejcected</span>
        <span *ngIf="c.approved == 1" class="text-green border-green rounded p-1">Accepted</span>
        

      </div>
      <div class="mt-1 d-flex text-red">
        {{c.rejectReason}}
      </div>
      <div class="mt-2 text-grey">
        <div class="flex-row mb-1">
          <div *ngFor="let t of c.tags" class="rounded mr-2 border" style="font-size:10pt;padding:5px;">{{t.name}}</div>
        </div>
        <span >Submitted at {{c.createTime | date:'yyyy-MM-dd HH:mm'}}</span><span> by <b>{{c.authorName}}</b></span>

      </div>
    </div>
    <div class="flex-column just-between">
      <div class="flex-row just-end">
        <a class="flex-column pointer" [href]="c.file">

          <div class="fas fa-file-download fa-2x mx-auto"></div>
          <div style="font-size:10pt;margin-top:5px;" class="mx-auto">Download</div>
        </a>
      </div>
      
      <div class="d-flex ml-2">
        <span *ngIf="c.approved != 1" style="margin-left:20px"><button class="btn bg-green" (click)="approve(c.id, 1, i, c.tags)">Accept</button></span>
        <span style="margin-left:20px"><button class="btn bg-red" (click)="reject(c.id, -1, i, c.rejectReason)">{{c.approved == -1 ? 'Modify': 'Reject'}}</button></span>
        <span *ngIf="c.approved != 0" style="margin-left:20px"><button class="btn bg-dark" (click)="changeStatus(c.id, 0, i)">Review required</button></span>
      </div>

    </div>
    

  </div>
</div>
