<div class="flex-column">
  <div class="mb-1">
    <label class="text-grey">{{field.label}} <span class="text-red">{{field.required ? ' *' : '' }}</span></label>
  </div>
  <div class="d-flex">
    <input *ngIf="field.type != 'date';else datepicker " [type]="field.type" [ngModel]="field.value" (ngModelChange)="handleChange($event)" />
  </div>
</div>


<ng-template #datepicker>
  <input type="text"
         placeholder=""
         bsDatepicker
         (bsValueChange)="handleChange($event)"
         [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', containerClass: 'theme-default' }"
         [bsValue]="field.value">
</ng-template>
